<main>

    <div class="flex justify-center">
        <div class="mt-32">
            <form class="flex flex-col px-4 py-6 border rounded-lg items-center">
                <p>Enter new password</p>
                <input type="password" placeholder="Password" name="password1" [(ngModel)]="password1" class="w-64 rounded-lg color-gray my-2" />
                <input type="password" placeholder="Password confirmation" name="password2" [(ngModel)]="password2" class="w-64 rounded-lg color-gray my-2" />
                <button type="submit" value="Login" (click)="onSubmit()" class="bg-cyan-500 text-white w-44 h-8 rounded-lg color-gray mt-4 mb-2">Sign Up</button>
            </form>
        </div>
    </div>
</main>