<main>
    <div class="flex justify-center">
        <div class="mt-32">
            <form class="flex flex-col px-4 py-6 border rounded-lg items-center">
                <p>Email recuperation: Enter you email:</p>
                <input type="text" placeholder="Email" name="email" [(ngModel)]="email" class="w-64 rounded-lg color-gray my-2" />
                <button type="submit" value="Send" (click)="onSubmit()" class="bg-cyan-500 text-white w-44 h-8 rounded-lg color-gray mt-4 mb-2">Send mail</button>
            </form>
        </div>
    </div>
</main>
